.profile-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center 20% ;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-open {
    overflow: hidden;
    height: 100%;
}

.modal-content {
    background-color: #fefefe;
    margin: 5vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 생성 */
}

/* 태블릿 크기 */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        margin: 3vh auto;
    }
}

/* 모바일 크기 */
@media screen and (max-width: 480px) {
    .modal-content {
        width: 95%;
        margin: 2vh auto;
        padding: 15px;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.project {
    cursor: pointer;
}

.project-info {
    text-align: center;
}

.project.disabled {
    opacity: 0.7;
    /* cursor: not-allowed; */
    /* pointer-events: none;  클릭 이벤트 비활성화 */
}

.project.disabled img {
    filter: grayscale(100%);
}

.project.disabled .project-info {
    color: #888;
}

.project.disabled h3 {
    text-decoration: line-through;
}

.project.disabled a {
    color: #888;
    text-decoration: line-through;
}